@page "/Two"
@using System.Globalization

<div class="row justify-content-center">
    <div class=" col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11 form-layout">

        @* Блок полей для корректировки - начало *@
        <div class="row mb-2">
            <div class="row d-flex justify-content-center korr-inputs-area">

                @* -------------------- first block begin ---------------------------------------------- *@
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3 mb-2">

                    <div class="col mb-1 ios-control-container">
                        <div class="ios-control-group">
                            <label class="ios-control-label">Один потребитель/поставщик</label>
                            <div class="ios-switch-container" role="switch" aria-checked="@IsPostavPotrebChecked" aria-label="Один потребитель/поставщик" @onclick="TogglePostavPotreb">
                                <label class="ios-switch">
                                    <input type="checkbox"
                                           @bind-value="IsPostavPotrebChecked"
                                           class="ios-switch-input" />
                                    <span class="ios-switch-slider"></span>
                                </label>
                            </div>
                        </div>

                        <div class="ios-input-container">
                            <label class="ios-input-label" for="inlineFormInputGroupCex">ЦЕХ</label>
                            <input type="text"
                                   class="ios-input"
                                   id="inlineFormInputGroupCex"
                                   Disabled="@true"
                                   @bind="@InputCex" />
                        </div>

                        <div class="ios-input-container">
                            <label class="ios-input-label" for="inlineFormInputGroupPostav">Поставщик</label>
                            <input type="text"
                                   class="ios-input"
                                   id="inlineFormInputGroupPostav"
                                   Disabled="@true"
                                   @bind="@InputPostav" />
                        </div>
                    </div>
                   

                </div>
                @* ----------------- first block end -------------------------- *@

                <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3 mb-2"> 

                   <div class="form-control">
                       <input  class="form-control"/>
                   </div>

                </div>

                <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3 mb-2">


                </div>

            </div>
        </div>
        
    </div>
</div>
@* Поля ввода для фильтров - окончание *@

@code {
    // чекбокс отключения поля ввода времени
    private bool IsVrInputDisabled;
    private DateTime InputTime;

    private bool IsVrInputDisabledTwo;
    private DateTime InputTimeTwo;

    private DateTime _dateBegin = DateTime.UtcNow;
    private DateTime _dateEnd = DateTime.UtcNow;
    private DateTime inDt = DateTime.ParseExact("05.07.2024", "dd.MM.yyyy", CultureInfo.InvariantCulture);
    private DateTime inVr = DateTime.ParseExact("10:13:33", "HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);
    private string inNvag = string.Empty;
    private string inGruz = string.Empty;

    // ---------------------- postav potreb ---------------------
    private bool IsPostavPotrebChecked { get; set; } = false;
    private string InputCex { get; set; } = "";
    private string InputPostav { get; set; } = "";

    private void TogglePostavPotreb()
    {
        IsPostavPotrebChecked = !IsPostavPotrebChecked;
    }



}
